{% extends 'base.html.twig' %}

{# {% block stylesheets %}
	{{ encore_entry_link_tags('projectsAv') }}
{% endblock %} #}

{% block title %}
	{{ parent() }}
	| Av WCS
{% endblock %}

% block body %
<p>lut </p>
{% endblock %}
