<form method="post" action="{{ path('admin_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce project ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn btn-danger w-100" class="m-1">Supprimer<i class="bi bi-trash3-fill ms-2"></i></button>
</form>
