@import "variables.scss";



.categoryCard1:hover {
    background-color: blueviolet;
    color: $light;
    transition: 0.3s;
}

.categoryCard2:hover {
    background-color: rgb(233, 209, 35);
    color: $dark;
    transition: 0.3s;
}

