@import "variables.scss";

.categoryCard1:hover {
    background-color: $primary;
    color: $light;
    transition: 0.3s;
}

.categoryCard2:hover {
    background-color: $secondary;
    color: $dark;
    transition: 0.3s;
}

