{% block stylesheets %}
	{{ encore_entry_link_tags('footer') }}
{% endblock %}

<footer class="footer bg-dark text-light py-3 d-flex justify-content-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="d-flex justify-content-between">
					<a href="https://www.google.com/maps/place/37520+La+Riche/@47.3814796,0.6010901,13z/data=!3m1!4b1!4m5!3m4!1s0x47fd2a16fb92f2d7:0x1c0dc8da880a0350!8m2!3d47.3835142!4d0.6486092" target="blank" class="text-decoration-none text-light"><p>
						<i class="bi bi-house fs-5"></i>
						 5 Avenue de la loire, 37520 La Riche</p></a>
					<p class="text-secondary ">
						<i class="bi bi-envelope fs-5"></i>
						 escaravage.daniel@gmail.com</p>
				</div>
				<div class="d-flex justify-content-between">
					<a href="https://www.linkedin.com/in/escaravage-daniel/" target="blank" class="text-decoration-none text-light">
					<p>
						<i class="bi bi-linkedin fs-5"></i> escaravage-daniel</p></a>
					<a href="https://github.com/DESCARAVAGE" target="blank" class="text-decoration-none text-light">
					<p>
						<i class="bi bi-github fs-5"></i> DESCARAVAGE</p></a>
					<p>
						<i class="bi bi-phone fs-5"></i> 0766447538</p>


				</div>
			</div>
		</div>
	</footer>
